body {
  background-color: white;
  background-repeat: no-repeat;
  text-align: center;
  display: inline;
  text-align: center;
  margin: 100px;
  
  
 }

.it-me {

  width: 50px;
  height: 50px;
  top: 0px;
  left: 0px;
  position: absolute;
}

.it-me-pic {
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}


.name {
  top: 0px;
  right: 0px;
  position: absolute;
}

 .home, .contact, .portfolio {
  font-family: 'Red Snapper Regular', monospace;
  font-size: 50px;
}



.about-me {
  margin-left: 37%;
  width: 300px;
  text-align: left;
  font-size: 18px;
  line-height: 1.6em;
   font-family: 'Source Code Pro', monospace; 
}
