
body {
  background: white;
  text-align: center;
  color:black;
  font-family: 'Source Code Pro', monospace;
  padding-bottom: 10px;
}

 .home, .contact, .portfolio {
  font-family: 'Red Snapper Regular', monospace;
  font-size: 50px;
}

p { 
  margin: 10px;
  text-align: center;
  font-family: 'Source Code Pro', monospace; 
}



